# Environments
.devcontainer/devcontainer-lock.json
.env
.venv

# Super-linter outputs
super-linter-output
super-linter.log

# Prettier config
.prettierrc

# GitHub Actions leftovers
github_conf

# Added by cargo
/target

# Added by Python
__pycache__/

# Other artifacts
*.zip
